.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;

}


nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  color: white;
  background-color: rgb(8, 8, 8);
}

.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: Roboto;
  font-weight: 500;
  
}

.link {

color: rgb(209, 209, 209);
text-decoration: none;
overflow: hidden;
font-family: 'Nunito', sans-serif;
font-weight: 900;
-o-transition: .7s;
-ms-transition: .7s;
-moz-transition: .7s;
-webkit-transition: .7s;
transition: .7s;
}

.link:hover {
  color: rgb(255, 153, 0);
}


.about-section {
  display: flex;
  margin: 0;
  padding: 10vh;
  width: 100%;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin:0 auto;
  padding: 0;
  background: url("./pages/About/laptop-image.jpg");
  background-size: cover;
 
}


.experience-section {
  display: flex;
  margin: 0;
  align-items: center;
  padding: 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  height: 70vh;
  background: rgb(255, 255, 255);
}

.projects-section {
  display: flex;
  margin: 0;
  align-items: center;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 70vh;
  margin: 0 auto;
  padding: 0;
  background: rgb(255, 255, 255);
}

.contact-section {
  display: flex;
  top: 0;
  margin: 0;
  align-items: center;
  padding: 0;
  width: 100%; 
  text-align: center;
  margin: 0 auto;
  padding: 0;
  height: 70vh;
  background: rgb(255, 255, 255);
}


.title-about {
  display: inline;
  text-align: left;
  margin: 10vh;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  color: rgb(209, 209, 209);
}

.title-name {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 2em;
  
}

.title {
  font-family: 'Roboto', sans-serif;;
  text-align: left;
  margin: 10vh;
  color: rgb(46, 46, 46);
}

.text {
  text-align: left;
  color: rgb(255, 153, 0);

}

.yellow-text {
  color: rgb(255, 153, 0);
}
