.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  
}


nav {
  display: flex;
  top: 0;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(0, 96, 126);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: Montserrat;
  padding-left: 30vh;
  
}

.link {

color: rgb(177, 177, 177);
text-decoration: none;
overflow: hidden;
}

.link:hover {
  color: rgb(255, 255, 255);
}



.name {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.5rem;
}

.about-section {
  height: 50vh;
  background: tomato;
}

.experience-section {
  height: 50vh;
  background: lightseagreen;
}

.projects-section {
  height: 50vh;
  background: rgb(255, 239, 168);
}

.contact-section {
  height: 50vh;
  background: #b0fda9;
}